doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./CSS/styles.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400;1,500&display=swap")
        link(rel="stylesheet", media="(min-width: 960px)", href="./CSS/styles-medium.css")
        link(rel="stylesheet", media="(min-width: 1200px)", href="./CSS/styles-big.css")

        
        
        title Document
    body 
        header.header 
            
            .logo 
                .logo__content
                    img(src="./CSS/img/logo-w.svg", alt="logo").logo__img
                
                i(class="ri-menu-line logo-ham__img")
            nav.nav 

                p.nav-item Home
                p.nav-item About us
                p.nav-item How it works 
                p.nav-item For Freelancer
                
                button(class="nav__button") Get started
            
        
        main.main 
            .pad-container
                .box-1 
                    h1.box-1__h1 Recruit top talented freelancer for your business
                    p.box-1__p Connect you to thoudsands of talented freelancer from any industry. You can have the best people in just few simple steps.
                    button.box-1__button Get started
                .box-2 
                    img(src="./CSS/img/handsome-businessman-suit-glasses-cross-arms-chest-look 1.png", alt="foto").box-2__img-1
                    img(src="./CSS/img/wave.svg", alt="wave").box-2__img-2
                    
                .box-2-2 
                    for i in [1, 2, 3, 4, 5]
                        img(src="./CSS/img/logo" + i + ".svg", alt="log").box-2-2__img
            .box-3__the-title-box
                h4.box-3__sub-title FEATURE
                h1.box-3__title-principal The benefit of using our platform            
            .box-3 
                

                - var lista = ["Search and hire the most talented freelancers to match your needs. No matter what you need done, we've got the perfect freelancer for you.", "You have any concerns or questions? Don’t worry, we have our support team to help you at anytime and anywhere.", "Search and hire the most talented freelancers to match your needs. No matter what you need done, we've got the perfect freelancer for you."];
                 for i, n in ["Professional & Fast", "24-7 support", "FastSafe & Secure"]
                 
                    div( class="box-3__grid-item" class="item-" + n)
                        img(src="./CSS/img/icon-" + i + ".svg", alt="check").box-3__img
                        
                        h1.box-3__title=i
                        p.box-3__p=lista[n]

            .pad-container
                .box-4 
                    
                    img(src="./CSS/img/cartilla-medium.svg", alt="cartilla").box-4__img-item-medium

                    img(src="./CSS/img/plantilla.svg", alt="plantilla").box-4__img-item
                    .box-4__text-box
                        .box-4__title Wakanda is an easy platform to find talent
                        .box-4__num-container
                        - var listSteps = ["Sign in to our website", "Fill out neccesary information", "Discover thoudsands of freelancers", "View freelancer’s profile and hire", "Complete payment & it’s time to work!"]
                        for i, n in [1, 2, 3, 4, 5]
                            .box-4__item 
                                img(src="./CSS/img/icon-number-" + i + ".svg", alt="number").box-4__item-img
                                p.box-4__p=listSteps[n]

        footer.footer

            .box-f-1 
                .logo-and-links
                    img(src="./CSS/img/Logo-white.svg", alt="logo-white").logo-and-links__img

                    .logo-and-links__links
                        for i, n in [1, 2, 3, 4]
                            img(src="./CSS/img/social-fot-" + i + ".svg", alt="logo-social-media").social-logo

                    p.logo-and-links__text Copyright © 2022 Wakanda. All rights reserved

            .box-f-2 
                .column
                    h1.column__h1 Company
                    for i in ["About us", "Blog", "Contact us", "How it works", "For freelancer"]
                        p.column__p=i
                .column
                    h1.column__h1 Support 
                    for i in ["Help center", "Terms of service", "Legal", "Privacy policy", "Status"]
                        p.column__p=i
            .input-site
                h1.input-siteh1__h1 Subscribe to our newsletter
                .input-group
                    input(type="email" class="input" id="Email" name="Email" placeholder="uiverse@verse.io" autocomplete="off")
                    input( class="button--submit" value="Subscribe" type="submit")


        script(src="./JS/script.js") 


