doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="./CSS/styles.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css")
        link(rel="preconnect", href="https://fonts.googleapis.com")
        link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;0,700;1,400;1,500&display=swap")
        link(rel="stylesheet", media="(min-width: 960px)", href="./CSS/styles-medium.css")
        link(rel="stylesheet", media="(min-width: 1200px)", href="./CSS/styles-big.css")

        
        
        title Document
    body 
        header.header 
            
            .logo 
                .logo__content
                    img(src="./CSS/img/logo-w.svg", alt="logo").logo__img
                
                i(class="ri-menu-line logo-ham__img")
            nav.nav 

                p.nav-item Home
                p.nav-item About us
                p.nav-item How it works 
                p.nav-item For Freelancer
                
                button(class="nav__button") Get started
            
        
        main.main 
            .pad-container
                .box-1 
                    h1.box-1__h1 Recruit top talented freelancer for your business
                    p.box-1__p Connect you to thoudsands of talented freelancer from any industry. You can have the best people in just few simple steps.
                    button.box-1__button Get started
                .box-2 
                    img(src="./CSS/img/handsome-businessman-suit-glasses-cross-arms-chest-look 1.png", alt="foto").box-2__img-1
                    img(src="./CSS/img/wave.svg", alt="wave").box-2__img-2
                    
                .box-2-2 
                    for i in [1, 2, 3, 4, 5]
                        img(src="./CSS/img/logo" + i + ".svg", alt="log").box-2-2__img
            .box-3__the-title-box
                h4.box-3__sub-title FEATURE
                h1.box-3__title-principal The benefit of using our platform            
            .box-3 
                

                - var lista = ["Search and hire the most talented freelancers to match your needs. No matter what you need done, we've got the perfect freelancer for you.", "You have any concerns or questions? Don’t worry, we have our support team to help you at anytime and anywhere.", "Search and hire the most talented freelancers to match your needs. No matter what you need done, we've got the perfect freelancer for you."];
                 for i, n in ["Professional & Fast", "24-7 support", "FastSafe & Secure"]
                 
                    div( class="box-3__grid-item" class="item-" + n)
                        img(src="./CSS/img/icon-" + i + ".svg", alt="check").box-3__img
                        
                        h1.box-3__title=i
                        p.box-3__p=lista[n]

            .pad-container
                .box-4 
                    
                    img(src="./CSS/img/cartilla-medium.svg", alt="cartilla").box-4__img-item-medium

                    img(src="./CSS/img/plantilla.svg", alt="plantilla").box-4__img-item
                    .box-4__text-box
                        .box-4__title Wakanda is an easy platform to find talent
                        .box-4__num-container
                        - var listSteps = ["Sign in to our website", "Fill out neccesary information", "Discover thoudsands of freelancers", "View freelancer’s profile and hire", "Complete payment & it’s time to work!"]
                        for i, n in [1, 2, 3, 4, 5]
                            .box-4__item 
                                img(src="./CSS/img/icon-number-" + i + ".svg", alt="number").box-4__item-img
                                p.box-4__p=listSteps[n]
            .box-5
                .box-5__container
                    .box-5-text-and-button 
                        h2.box-5-text-and-button__h2 Explore and hire talent from our platform
                        p.box-5-text-and-button__p We've got experts for every industry - all under one roof! You can find everything from WordPress developers to Graphic designers to copywriters and many more at Wakanda.
                        button.box-5-text-and-button__button Button
                    img(src="./CSS/img/image-man.png", alt="business-man").box-5__img
            
            .box-6
                .box-6__container
                    .box-6__text 
                        h6.box-6__h6 TESTIMONIAL
                        h2.box-6__h2 See what they’re saying about us
                    .box-6__cards-container 
                        - var listaNames = ["Cara Bedford", "Kathryn Murphy", "Robert Fox", "Esther Howard", "Albert Flores", "Eleanor Pena"];
                        for i, n in ["I have been using Wakanda for quite some time now and I have to say it has been the best freelance hiring platform that I've used. The quality of freelancers on this site is very high and they're totally reliable. I would highly recommend it!", "One of the best things about Wakanda is that it really simplifies the process of finding and hiring people. The quality is good as well, every freelancer I've hired has been high-quality and professional. I would recommend this to anyone who needs a freelancer.", "I’m so happy because the freelance talent we work with are more productive than we have ever thought. Recommend for people who want to find professional freelancer on this platform.", " have used a lot of freelance hiring platforms, but none compare to Wakanda. The quality of freelancers that I can find here is unmatched and the service is top-notch. The customer service is also excellent, which cannot be said for my previous experiences in using other apps. I would highly recommend this product for anyone looking to hire a freelancer.", "I am happy to say that I have hired a couple of freelancers through Wakanda and they are high-quality ones. Working with them is not just easier; it has also been more effective. Having found a great freelance team, I cannot imagine switching to any other hiring platform.", "I have used a number of different freelance hiring platforms and none come close to Wakanda. The quality of the freelancers on here is top notch and it's easy to browse through the listings. I've been using it for six months now and I've found my perfect freelancer without any regrets whatsoever." ]
                            .card 
                                .card__header 
                                    img(src="./CSS/img/Avatar-" + n + ".png", alt="avatar-foto").card__avatar-foto
                                    .name-stars 
                                        p.name-stars__name=listaNames[n]
                                        img(src="./CSS/img/Stars.svg", alt="stars").name-stars__stars
                                p.card__text=i



        footer.footer

            .box-f-1 
                .logo-and-links
                    img(src="./CSS/img/Logo-white.svg", alt="logo-white").logo-and-links__img

                    .logo-and-links__links
                        for i, n in [1, 2, 3, 4]
                            img(src="./CSS/img/social-fot-" + i + ".svg", alt="logo-social-media").social-logo

                    p.logo-and-links__text Copyright ©2023 Wakanda. All rights reserved

            .box-f-2 
                .column
                    h1.column__h1 Company
                    for i in ["About us", "Blog", "Contact us", "How it works", "For freelancer"]
                        p.column__p=i
                .column
                    h1.column__h1 Support 
                    for i in ["Help center", "Terms of service", "Legal", "Privacy policy", "Status"]
                        p.column__p=i
            .input-site
                h1.input-siteh1__h1 Subscribe to our newsletter
                .input-group
                    input(type="email" class="input" id="Email" name="Email" placeholder="uiverse@verse.io" autocomplete="off")
                    input( class="button--submit" value="Subscribe" type="submit")


        script(src="./JS/script.js") 


